extends layout

block content
  h1= title
  form(id='moviesForm', action="/resource/movies", method="POST")
    div.form-group
      label.moviesAttr(for='movie_name') movies name
      input#movie_name(type='text', name='movie_name')
    div.form-group
      label.moviesAttr(for='director') movies director
      input#director(type='text', name='director')
    div.form-group
      label.moviesAttr(for='rating') movies rating
      input#rating(type='number', name='rating')
    input(type="submit")
  script.
    document.forms['moviesForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO: do something here to show user that the form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      })
      .then((resp) => resp.text()) // or resp.text() or whatever the server sends
      .then((body) => {
        alert("Save succeeded");
        // TODO: handle the body
      })
      .catch((error) => {
        // TODO: handle the error
        alert("Save failed " + error);
      });
    });
